<%- include('layout/debut.ejs')%>
    <script src="events.js"></script>
    <script src="change_img.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
<header>
    <%- include('layout/navigation.ejs')%>
</header>
<main>
    <div class="main-container">
        <h1>Formulaire d'emprunt</h1>

        <div class="form-container">
            <form action='/form' method='post'>
                <input type="checkbox" name="credit" class="chip grow" role="switch" value="Credit a la consommation" aria-label="Crédit a la consommation" id="toggle" />
                <p>Formule utilisé : </p>
                <img src="formule_basique.png" alt="formule basique" id="formule">
                <input type='number' name='capital' placeholder='capital' min="0" required>
                <input type='number'step="0.01" name='taux' placeholder='taux' min="0" required>
                <input type='number' name='mois' placeholder='mois' min="1">

                <button type='submit'>Calculer</button>
            </form>
        </div>

        <div class="table-container">
            <% if (message.length > 0){ %>
                <h2>Résultat des calcul d'emprunt</h2>
                <table>
                    <tr>
                        <th>Capital</th>
                        <th>Taux</th>
                        <th>Mois</th>
                        <th>Résultat mensuel</th>
                    </tr>
                    <% for (let elt of message){ %>
                        <tr>
                            <td><%= elt.message[0] %></td>
                            <td><%= elt.message[1] %></td>
                            <td><%= elt.message[2] %></td>
                            <td><%= elt.message[3] %></td>
                        </tr>
                    <% } %>
                </table>

            <%}%>
        </div>

    </div>
</main>
<%- include('layout/fin.ejs')%>